@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    position: fixed;
}

header nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height: 2em;
    float: left;
}
/* Left side of the navbar */
#leftSide {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#leftSide ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1em;
    list-style: none;
    overflow: hidden;
}

#leftSide ul li {
    float: left;
}

#leftSide ul li a {
    text-decoration: none;
    color: inherit;
}

/* Right side of the navbar */
#rightSide {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.5em;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
}

#rightSide a {
    text-decoration: none;
    color: inherit;
}

#loginButton {
    height: 3em;
    width: 10em;
    font-size: 1em;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

#loginButton:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    border-radius: 5px;
}

#registerButton {
    height: 3em;
    width: 10em;
    font-size: 1em;
    font-weight: 400;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

#registerButton:hover {
    background-color: rgba(0, 0, 0, 0.7);
}